main {
 border: 4px solid #4285f4;
 text-align: center;
 width: 200px;
 font-weight: bold;
 color: white;
 font-size: 24px;
 margin: auto;
  
}

.NorthSide {
  background: #E67676;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
  
}
.EastSide {
  background: #F2F062;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
}
.SouthhSide {
  background: #A9E6E6;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25px;
}
.WestSide {
  background: #7692E4;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
   padding-top: 25px;
}